<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
    <p>Hello     {{- .u1.name}}</p>
    <p>Hello     {{.u1.gender}}</p>
    <p>Hello     {{.u1.done}}</p>
    <p>Hello     {{.u2.name}}</p>
    <p>Hello     {{.u2.gender}}</p>
    <p>Hello     {{.u2.done}}</p>
</body>
</html>